.thumbnails {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    column-count: 2;
    column-gap: 50px;
}

