.thumbnails {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-count: 2;
    column-gap: 50px;
}

